.BreedCard {
  padding: 1.3rem;
  background-color: var(--dark-gray);
  border-radius: 25px;
  color: var(--off-white);
  margin: 0.5rem 1rem;

  & img {
    object-fit: cover;
  }
}

.BreedInfo {
  text-align: center;
}
